body {
  font-family: 'Arsenal', Helvetica Neue, Helvetica, 'Open Sans Condensed', Arial, sans-serif;
  font-size: 14px;
  padding: 1rem .33rem;
  line-height: 1.42rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
}
h1 {
   flex: 1 100%;
}
#main {
   flex: 2.618 16rem;
}
#main p:first-child {
   margin-top: 0;
}
#side {
   flex: 1 7rem;
}
h1 {
  margin-left: .66rem;
  margin-right: .67rem;
}
#main, #side {
  margin: 0 .66rem 2rem .67rem;
}
ul {
   list-style-type: none;
   padding: 0;
}
#publications li {
   border: 1px solid rgba(0,0,0,.1);
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,.1);
   border-radius: 2px;
   margin-bottom: 10px;
}
.shown {
   padding: 5px 10px;
}
.abstract {
   border-top: 1px solid rgba(0,0,0,.1);
   padding: 5px 10px;
   display: none;
}
#side li {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
img {
   width: 100%;
   max-width: 10rem;
}
p {
   margin: 0;
   text-indent: 1em;
}
a {
   text-decoration-skip:ink;
   -webkit-text-decoration-skip:ink;
   -moz-text-decoration-skip:ink;
}
