body {
  font-family: Helvetica Neue, Helvetica, 'Open Sans Condensed', Arial, sans-serif;
  padding: 1rem;
  line-height: 1.42rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
}
h1 {
   flex: 1 100%;
}
#main {
   flex: 2 14rem;
}
#main p:first-child {
   margin-top: 0;
}
#side {
   flex: 1 7rem;
}
#main, #side, #h1 {
   margin-left: .33rem;
   margin-right: .33rem;
}
#side ul {
   list-style-type: none;
   padding: 0;
}
img {
   width: 100%;
   max-width: 10rem;
}
