body {
     margin: 30px auto 300px auto;
     font-family: Arsenal, Helvetica, sans-serif;
     /*font-family: Helvetica, sans-serif;*/
     font-size: medium;
     text-rendering: optimizeLegibility;
     max-width: 800px;
     color: #333;
}
.byline {
   text-align: left;
   margin-left: 0;
}
span.set {
   font-size: 90%;
   letter-spacing: -.05em;
}
pre {
   font-size: 100%;
   font-size: 1.35rem;
}
a {
   color: black;
}
a:hover {
   text-decoration: none;
}
#tree, #plot, #picture_tree {
   margin: auto;
   display: block;
}
#picture_tree {
   margin: 30px auto;
   width: 100%;
   border: 1px solid #999;
   border-width: 1px 0;
   background: #f8f8f8;
}
div.time {
   text-transform: uppercase;
}
body > p, body > ul {
   display: block;
   width: 700px;
   margin: 0 auto 1rem auto;

   font-size: 100%;
   font-size: 1.2rem;
   line-height: 1.6em;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 0;
   text-rendering: optimizeLegibility;
   background: #fff;
   text-align: justify;
}
#cp {
     /* padding: 20px 12px 10px 20px; */
}
span.math {
   font-family: 'Merriweather', serif;
}
#cp .slider {
   width: 380px;
}
#cp .slider svg {
   height: 100px;
   width: 100%;
}
#cp .slider svg > g {
   transform: translate(25px,25px) scale(1.65);
}
#plot path.area {
   fill: #eee;
}
#plot path.line {
   fill: none;
   stroke: #999;
}
#plot text {
   color: #555;
}
#plot line {
   stroke: #555;
}
h1, h2 {
   width: 800px;
   margin: auto;
   color: #555;
   font-weight: normal;
}
h2 {
   margin-bottom: 10px;
   font-size: 20px;
}
h1 {
   font-size: 3.1rem;
   font-weight: 700;
}
h3 {
   font-size: 2rem;
   font-weight: 700;
}
label {
   font-size: 13px;
   color: #555;
   display: block;
}
.buttons {
   float:right;
   padding: 0 10px;
   position: relative;
   top: -30px;
   z-index: 1;
}
button {
     font-size: 20px;
     border: none;
     padding: 20px 25px 20px 25px;
     /*background: #FF8500;*/
     background: #ff7f00;
     background: #f27f0c;
     color: #fff;
     box-shadow: 1px 1px 4px #DADADA;
     border-radius: 50px;
     margin: 0 0 0 10px;
     display: inline-flex;
}
button:hover {
     background: #ff7f00;
}
button:active{
   position: relative;
   top: 1px;
   background: #EA7B00;
}
.radial_tree path {
    fill: none;
    stroke: #999;
    stroke-width: 1.5;
}
#plot path.domain {
   visibility: hidden;
}
.radial_tree .node:not(.inner).alive circle {
   fill: #66b;
   r: 3.5px;
}
.radial_tree .node:not(.inner).alive circle.shadow {
   r: 10px;
   fill: #66b;
   opacity: .1;
}
.radial_tree .node:not(.alive):not(.inner) circle {
   fill: #999;
   r: 2.5px;
   display: none; /* Hide dead leafs */
}
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 20px !important;
  top: 4px;
  left: -2px;
}
.tooltip .tooltip-text {
   font-family: Helvetica, sans-serif;
  display: none;
  background-color: #ffa;
  font-size: 13;
  padding: 7px 12px;
  border-radius: 6px;
  border: 1px solid #eeb;
  white-space: normal;
  width: 200px;
  color: black;
  line-height: 1.3;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltip-text {
  display: block;
}

#universe_plot, #universe_plot_2 {
   margin: auto;
   display: block;
}
#uni_buttons {
   position: relative;
   top: -30px;
   z-index: 1;
}
.rep_circle {
   fill: white;
   stroke-width: 1px;
   /* Transition between dead and alive */
   transition: stroke 1s ease-in;
}
:not(.alive) .rep_circle{
   stroke: #eee;
}
.alive .rep_circle {
   stroke: #4995c9;
}
.obj {
   opacity: 1;
   transition: opacity 1s ease-in;
}
g:not(.alive) > .obj {
   opacity: .8;
}
/*@media (prefers-color-scheme: dark) {
   body{
   background-color: #f55;
   }
}*/
