{% include 'templates/header.html' %}
  <style type="text/css">
   ul {
      font-size: 1.3rem;
      line-height: 3rem;
   }
  </style>
  <title>Blog</title>
</head>
<body>
   <ul>
      <li><a href="https://towardsdatascience.com/3bbed6addde0">2022 - Liar’s Dice by Self-Play</a></li>
      <li><a href="/blog/sets.html">2020 - An Evolutionary Data Structure for Sets</a></li>
      <li><a href="https://ahlenotes.wordpress.com/2015/12/08/hypergeometric_tail/">2015 - Another Tail of the Hypergeometric Distribution</a></li>
   </ul>
</body>
</html>

