{% include 'templates/header.html' %}
  <script type="application/javascript">
addLoadEvent(function () {
   /* Show hide abstracts */
   for (let div of document.querySelectorAll('.toggle-item')) {
      div.onclick = function() {
          // Other options: event_category, event_label, value (numeric)
          gtag('event', 'toggle', {'event_label': div.id});
          this.classList.toggle('open');
          window.history.replaceState(null, null, '#'+div.id);
      }
      if ('#'+div.id == window.location.hash) {
         div.classList.add('open');

      }
      // TODO: If hash paper is not featured, we should enable show-all
   }

   /* Show hide featured */
   let toggle = () => {
      for (let div of document.querySelectorAll('.publications')) {
         div.classList.toggle('toggled');
      }
   }
   let checkbox = document.getElementById('show-all-checkbox');
   checkbox.checked = {{'true' if show_all else 'false'}};
   // If hash, we should show all, in case the hashed paper is hidden
   if (window.location.hash)
      checkbox.checked = true;
   if (!checkbox.checked)
      toggle();
   // Only add the event listener after the initial toggling
   checkbox.addEventListener('change', event => {
      gtag('event', 'toggle-show-all', {'event_label': event.target.checked ? 'on' : 'off' });
      toggle();
   });
});
  </script>
  <title>{{me.name}}</title>
</head>
<body>
   <h1>{{me.name}}</h1>
   <div id='main'>
      <p>
         Hello, I'm Thomas.
         I am an Algorithms Research Scientist at Facebook.
         Pre&shy;vi&shy;ously I was the Chief of Machine Learning at the Natural Language Processing startup, <a href='https://supwiz.com'>SupWiz</a>,
         and a Postdoctoral researcher in Theoretical Computer Sci&shy;ence at the <a href='https://barc.ku.dk/'>Basic Algorithms Research</a> group (BARC) in Copenhagen.
         I did my PhD with <a href='{{authors['pagh'].href}}'>Rasmus Pagh</a> on the <a href='http://sss.projects.itu.dk/'>Scalable Similarity Search</a> project, and
        previously I have been at University of Texas at Austin, and University of Oxford.
        <!--where my advisors were <a href='https://www.cs.ox.ac.uk/samson.abramsky/'>Samson Abramsky</a> and <a href='https://www.cs.ox.ac.uk/people/oege.demoor/'>Oege de Moor</a>.-->
      </p><p>
        My research primarily involves the theoretical foundations of machine learning and massive data, including similarity search, high dimensional geometry, kernel methods, sketching and derandomization.
      </p>

      <div id='show-all'>
         <label for="show-all-checkbox" class='toggle-text'>Show All</label>
         <input type="checkbox" id="show-all-checkbox"i checked />
         <label for="show-all-checkbox" class='toggle'></label>
      </div>
      {% for type, articles in [('Publications', papers), ('Manuscripts', manuscripts)] %}
         <h2 class="publications {{'has-featured' if has_featured(articles) else ''}}"
                    >{{type}}</h2>
         <ul class="publications">
         {%- for paper in articles -%}
            <li class="toggle-item {{'featured' if paper.featured else ''}}"
                  id='paper-{{paper.tag}}'>
               <div class='shown'>
                  <span class='files'>
                  {%- for f in paper.files -%}
                     [<a href='{{f.href}}'
                        onclick="gtag('event', 'download', {'event_label': 'download_{{paper.tag}}_{{f.format}}'});"
                        >{{f.format}}</a>]
                     {%- if not loop.last %}  {% endif -%}
                  {%- endfor -%}
                  </span>

                  <span class='year'>
                  {%- if paper.conference not in ('subm', 'arxiv', '') -%}
                     {{paper.conference.upper()}}
                  {%- elif paper.conference == 'subm' -%}
                     {{conferences[paper.conference].name}}
                  {% endif %}
                  {{paper.year}}
                  {%- if paper.comment %}
                     —
                     <span class="comment">{{paper.comment}}</span>
                  {%- endif -%}
                  </span>

                  {#<br style='clear:both' />#}
                  <span class='title'>{{paper.title}}</span>
                  {#<br />#}

                  <span class='authors'>
                  {% for a in paper.authors -%}
                     {%- if authors[a] != me -%}
                        <a href='{{authors[a].href}}'
                           onclick="gtag('event', 'coauthor', {'event_label': '{{authors[a].abrv}}'});"
                           >
                           {%- if paper.authors |length < 5 -%}
                              {{authors[a].abrv}}
                           {%- else -%}
                              {{authors[a].abrv.split()[-1]}}
                           {%- endif -%}
                        </a>
                     {%- else -%}
                        {{me.abrv}}
                     {%- endif -%}
                     {%- if not loop.last -%}, {% endif -%}
                  {%- endfor %}
                  </span>
               </div>
               <div class='abstract'>{{paper.abstract}}</div>
            </li>
         {%- endfor -%}
         </ul>
      {% endfor %}

      <h2>Teaching</h2>
      <ul>
      {%- for t in teachings -%}
         <li>
            <a href='{{t.href}}'>{{t.name}}</a> - {{t.year}}.
            <p>{{t.description}}</p>
         </li>
      {%- endfor -%}
      </ul>


      <h2>Media</h2>
      <ul>
         {%- for m in media -%}
         <li><a href='{{m.href}}'>{{m.name}}</a> &mdash; {{m.date}}.
            "{{m.title}}."
            {% for f in m.files -%}
               <a href='{{f.href}}'
                  onclick="dataLayer.push({'event': 'downloadmedia_{{f.format}}'});"
                  >({{f.format}})</a>
            {%- endfor -%}
         </li>
         {%- endfor -%}
      </ul>

      <h2>Code</h2>
      <ul>
         <li><a href='https://pychess.github.io/'>PyChess</a> &mdash; a chess engine and Internet chess client
            &mdash; <a href='https://pychess.org/'>online version</a>
         </li>
         <li><a href='https://github.com/thomasahle/sunfish'>Sunfish</a> &mdash; a minimalist chess engine &mdash;
            <a href='https://lichess.org/@/sunfish-engine'>play at Lichess</a>
            </li>
         <li><a href='https://github.com/thomasahle/numberlink'>numberlink</a> &mdash; a generator and a fast solver for numberlink puzzles</li>
            &mdash;
            <a href='https://numberlinks.puzzlebaron.com/'>play at Puzzle Baron</a>
         <li><a href='https://github.com/thomasahle/codenames'>codenames</a> &mdash; an AI that plays Codenames using Glove vectors.
         <li><a href='https://github.com/thomasahle/fastchess'>fastchess</a> &mdash; an experiment into using the FastText library to play chess.
         <li><a href='https://github.com/thomasahle/mtime'>mtime</a> &mdash; helps managing the ITU time management</li>
      </ul>

      <h2>Other</h2>
      <ul>
         <li>Memrise <a href='https://www.memrise.com/course/44645/500-most-common-danish-words/'>course for learning Danish</a> through the most common 500 words.</li>
      </ul>

   </div>
   <div id='side'>

      <script>
         /* Only incude Face and Twitter feed when we have room enough for it. */
         if (window.matchMedia("(min-width: 500px)").matches) {
            // Nobody likes document.write these days.

            let holder = document.createElement( 'div' );
            holder.id = 'me_holder';
            let img = document.createElement( 'img' );
            img.src = '{{me.photo}}';
            img.alt = 'A photo of me';
            img.id = 'me';
            holder.append(img);
            document.getElementById('side').prepend(holder);
            /* Mouse over me */
            //let img = document.getElementById('me');
            img.onmouseover = function() {
              img.setAttribute('src', '/static/water.jpg');
              gtag('event', 'hover_me', {'event_label': 'on'});
            }
            img.onmouseout = function() {
              img.setAttribute('src', '/static/potrait.jpg');
              gtag('event', 'hover_me', {'event_label': 'off'});
            }

            let el = document.createElement( 'div' );
            el.innerHTML = `
               <a class="twitter-timeline"
                  href="https://twitter.com/thomasahle"
                  data-tweet-limit="3"
                  data-chrome="nofooter, noscrollbar"
                  data-dnt="true"
                  >Tweets</a>`;
            let script = document.createElement("script");
            script.async = "true";
            script.src = "https://platform.twitter.com/widgets.js";
            script.charset = "utf-8";
            el.appendChild(script);
            document.getElementById('side').appendChild(el);
         }
      </script>

      <h3>Contact</h3>
      <ul>
         <li><a href='/blog' title='My blog'>Blog</a></li>
         <li><a href='https://twitter.com/thomasahle'>Twitter</a></li>
         <li>Email: thdy@itu.dk</li>
         <!--<li><a href='statement.pdf'>Academic Statement</a></li>-->
         <li><a href='cv.pdf' >CV</a></li>
         <li><a href='https://dblp1.uni-trier.de/pers/hd/a/Ahle:Thomas_D='>DBLP</a></li>
         <li><a href='https://scholar.google.dk/citations?user=aRiVoYgAAAAJ&sortby=pubdate'>Google Scholar</a></li>
         <li><a href='https://linkedin.com/in/thomasahle'>LinkedIn</a></li>
         <li><a href='https://github.com/thomasahle'>GitHub</a></li>
         <li><a href='https://orcid.org/0000-0001-9747-0479'>ORCiD</a></li>
      </ul>

      <h3>Coauthors</h3>
      <ul>
      {%- for person in coauthors: -%}
         <li><a href='{{person.href}}'>{{person.name}}</a></li>
      {%- endfor -%}
      </ul>

   </div>
</body>
</html>

