<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">
  {% include 'static/tagmanager_head.html' %}
  <script src="static/script.js"></script>
  <title>{{me.name}}</title>
</head>
<body>
   {% include 'static/analyticstracking.html' %}
   {% include 'static/tagmanager_body.html' %}
   <h1>{{me.name}}</h1>
   <div id='main'>
      <p>
         Hi, I'm Thomas. I am a graduate student in Theoretical Computer Science with <a href='{{authors['pagh'].href}}'>Rasmus Pagh</a> at the IT University of Copenhagen,
         and a researcher at <a href='https://barc.ku.dk/'>Basic Algorithms Research Copenhagen</a>.
        Previously I have been at University of Texas at Austin, and University of Oxford.
        <!--where my advisors were <a href='https://www.cs.ox.ac.uk/samson.abramsky/'>Samson Abramsky</a> and <a href='https://www.cs.ox.ac.uk/people/oege.demoor/'>Oege de Moor</a>.-->
      </p><p>
        My research has primarily involved the theoretical foundations of massive data, similarity search (which is also my primary funding through <a href='http://sss.projects.itu.dk/'>Scalable Similarity Search</a>), high dimensional geometry, sketching and derandomization.
        See also my <a href='statement.pdf'>research program</a>.
      </p>

      <h2>News</h2>
      <dl>
         <dt>1/feb/19</dt>
         <dd>The date for handing in my PhD. is now set at April 1st.
               I am interested in hearing about Post Doc positions anywhere in the world.
         </dd>
         <dt>1/oct/18</dt>
         <dd>I have decided to leave SupWiz and return to Academia.
            Looking forward to work with everyone!
         </dd>
         <dt>1/sep/17</dt>
         <dd>I am taking a 1 year sabatical to start up a new Machine Learning company, <a href='https://supwiz.com'>SupWiz</a>, with former research collegues.
         </dd>
      </dl>

      {% for type, articles in [('Publications', papers), ('Manuscripts', manuscripts)] %}
         <h2>{{type}}</h2>
         <ul class="publications">
         {%- for paper in articles -%}
            <li>
               <div class='shown' id='paper-{{paper.tag}}'>
                  {%- for a in paper.authors -%}
                     {%- if authors[a] != me -%}
                        <a href='{{authors[a].href}}'>{{authors[a].abrv}}</a>
                     {%- else -%}
                        {{me.abrv}}
                     {%- endif -%}
                     {%- if not loop.last -%}, {% endif -%}
                  {%- endfor %} —
                  {{paper.year}}
                  {%- if paper.comment -%}
                     , <span class="comment">{{paper.comment}}</span>
                  {%- endif -%}
                  <br />
                  <strong>{{paper.title}}</strong>.
                  {{conferences[paper.conference].name}},
                  ({%- for f in paper.files -%}
                     <a href='{{f.href}}'
                        onclick="dataLayer.push({'event': 'download_{{paper.tag}}_{{f.format}}'});"
                        >{{f.format}}</a>
                     {%- if not loop.last -%} , {% endif -%}
                  {%- endfor -%})
               </div>
               <div class='abstract'>{{paper.abstract}}</div>
            </li>
         {%- endfor -%}
         </ul>
      {% endfor %}

      <h2>Media</h2>
      <ul>
         {%- for m in media -%}
         <li><a href='{{m.href}}'>{{m.name}}</a> - {{m.date}}.<br/>{{m.description}}</li>
         {%- endfor -%}
      </ul>

      <h2>Code</h2>
      <ul>
         <li><a href='https://github.com/thomasahle/mtime'>mtime</a> - helps managing the ITU time management</li>
         <li><a href='http://pychess.org/'>PyChess</a> - a chess engine and Internet chess client</li>
         <li><a href='https://github.com/thomasahle/sunfish'>Sunfish</a> - a minimalist chess engine</li>
         <li><a href='https://github.com/thomasahle/numberlink'>numberlink</a> - a fast solver for numberlink puzzles</li>
         <li><a href='https://github.com/thomasahle/codenames'>codenames</a> - an AI that plays Codenames using Glove vectors.
         <li><a href='https://github.com/thomasahle/fastchess'>fastchess</a> - an experiment into using the Fasttext library to play chess.
      </ul>

   </div>
   <div id='side'>
      <img src='{{me.photo}}' alt='A photo of me' id='me'/>
      <h3>Coauthors</h3>
      <ul>
      {%- for person in coauthors: -%}
         <li><a href='{{person.href}}'>{{person.name}}</a></li>
      {%- endfor -%}
      </ul>

      <h3>Contact</h3>
      <ul>
         <li><a href='https://ahlenotes.wordpress.com/' title='My blog'>Blog</a></li>
         <li>Email: thdy@itu.dk</li>
         <li><a href='https://linkedin.com/in/thomasahle'>Linkedin</a></li>
         <li><a href='cv.pdf'>CV</a></li>
         <li><a href='statement.pdf'>Academic Statement</a></li>
      </ul>
   </div>
</body>
</html>

