<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">
      <link rel="icon" type="image/x-icon" href="https://www.itu.dk/favicon.ico" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet" type="text/css">
      <style type="text/css">{% include 'static/course.css' %}</style>
      {% include 'static/tagmanager_head.html' %}
      <title>Practical Concurrent and Parallel Programming 2019</title>
   </head>

   <body>
      <h1>Practical Concurrent and Parallel Programming 2019</h1>

      <p class="byline">(PCPP) (KSPRCPP1KU) E2019</p>

      <p>
      In this MSc course you learn how to write correct and efficient concurrent and parallel software, primarily using Java, on standard shared-memory multicore hardware.
      The course covers basic mechanisms such as threads, locks and shared memory as well as more advanced mechanisms such as parallel streams for bulk data, transactional memory, message passing, and lock-free data structures with compare-and-swap.
      It covers concepts such as atomicity, safety, liveness and deadlock.
      It covers how to measure and understand performance and scalability of parallel programs.
      It covers methods to find bugs in concurrent programs.
      </p>

      <p>For exercises and more information, see the <a href="https://learnit.itu.dk/course/view.php?id=3018482">course LearnIT site</a> (restricted access).
      For formal rules, see the <a href="https://learnit.itu.dk/local/coursebase/view.php?ciid=257">official course description</a>.</p>

      <p>The course is taught by
      <a href="http://www.itu.dk/people/thdy/">Thomas Dybdahl Ahle</a>
      and designed together with
      <a href="http://www.itu.dk/people/sestoft/">Peter Sestoft</a>,
      <a href="http://www.itu.dk/people/rikj/">Riko Jacob</a>
      and <a href="http://www.itu.dk/people/brabrand/">Claus Brabrand</a>
      at the <a href="http://www.itu.dk/">IT University of Copenhagen</a>.
      Teaching assistants are
      Jorgel Këci, Jon Voigt Tøttrup and Amund Ranheim Lome who help with exercises and approve (or not) the mandatory hand-ins.</p>

      <div class="radio-tabs">
         <input type="radio" id="plan-radio" name="tab-state" checked />
         <input type="radio" id="materials-radio" name="tab-state" />

         <label for="plan-radio" id="plan-tab" class="tab">Lecture Plan</label>
         <div id="plan-panel" class="panel">
            {% for lecture in lectures %}
            {% if isinstance(lecture, Lecture) %}
            <div class="week">
               <h3>{{lecture.title}}</h3>

               <div class="number">
                  <span class="lecture-number">{{loop.index}}</span>
                  <span class="lecture-week">Week {{lecture.date.isocalendar()[1]}}</span>
                  <span class="lecture-date">{{lecture.date.strftime('%b')}} {{ord(lecture.date.day)}}</span>
                  <span class="lecture-day">{{lecture.date.strftime('%A')}}</span>
               </div>

               <div class="ex">
                  <a href="Week_{{loop.index}}/lecture.pdf">Slides</a>
                  <a href="Week_{{loop.index}}/code.tar.gz">Code</a>
                  <a href="Week_{{loop.index}}/exercise.pdf">Exercises</a>
               </div>

               <div class="content">
                  <p>{{lecture.desc}}</p>

                  <p><b>Materials:</b> {{lecture.materials}}</p>

                  <p>Handin at <a href="#">LearnIT</a>.</p>
               </div>
            </div>
            {% elif isinstance(lecture, Break) %}
            <div class="week">
               <h3>{{lecture.title}}</h3>

               <div class="number">
                  <span class="lecture-number">{{loop.index}}</span>
                  <span class="lecture-week">Week {{lecture.date.isocalendar()[1]}}</span>
               </div>
               <div class="content">
                  <p>No exercises or lecture this week.</p>
               </div>
            </div>
            {%- endif -%}
            {%- endfor -%}
         </div>

         <label for="materials-radio" id="materials-tab" class="tab">Materials</label>
         <div id="materials-panel" class="panel">
            {% include 'static/pcpp-materials.html' %}
         </div>
      </div>



   </body>
</html>
